# Intermediate data downloaded from Kaggle — not committed (large, and the
# per-competition Kaggle terms of use do not allow redistributing the data).
kaggle-output/*
!kaggle-output/README.md

# Common junk
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
Thumbs.db
~$*
.env
kaggle.json
